@page
@model ShopEasy.Pages.CartModel

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Cart.css" />
</head>

<h2>Your Cart:</h2>
<table>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>SubTotal</th>
        <th></th>
        <th></th>
    </tr>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr class="hover-row">
                <td>
                    <img src="@item.Product.Image" alt="@item.Product.Name" style="max-width:100%; max-height:auto;" />
                </td>
                <td>@item.Product.Name</td>
                <td>$@item.Product.Price.ToString("0.00")</td>
                <td>@item.Quantity</td>
                <td>$@((item.Product.Price * item.Quantity).ToString("0.00"))</td>
                <td>
                    <form method="post" asp-page-handler="IncreaseQuantity">
                        <input type="hidden" name="productId" value="@item.Product.Id" />
                        <button type="submit">+</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-page-handler="Remove">
                        <input type="hidden" name="productId" value="@item.Product.Id" />
                        <button type="submit">-</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var totalBill = Model.TotalPrice; 
}

<h5 style="margin-top: 10px; text-align: right;">Total Bill: $@totalBill.ToString("0.00")</h5>
<div class="btn-container">
    <a class="btn" asp-page="/Index">
        <button>Back To Shop</button>
    </a>
    <a class="btn" asp-page="/Checkout">
        <button>Checkout</button>
    </a>
</div>
