@page
@model ShopEasy.Pages.CartModel

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Cart.css" />
</head>

<h2>Your Cart:</h2>
<table>
    
{
    @{
        var totalBill = Model.CartItems.Sum(item => item.Product.Price * item.Quantity);
    }
    
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>SubTotal</th>
        <th></th>
        <th></th>
       
    </tr>
    <tbody>
        
    @foreach (var item in Model.CartItems)
        {
                  <tr class="hover-row">
        <td>
            <img src="@item.Product.Image" alt="@item.Product.Name" style="max-width:100%; max-height:auto;" />
        </td>
            <td>@item.Product.Name</td>
            <td>$@item.Product.Price</td>
            <td>@item.Quantity</td>
            <td>$@((@item.Product.Price * @item.Quantity).ToString("0.00"))</td>
            <td>
                <a class="btn-increase" asp-page-handler="Increase" asp-route-id="@item.Product.Id">+</a>
            </td>
                <td>
                <a class="btn-remove" asp-page-handler="Delete" asp-route-id="@item.Product.Id">-</a>
            </td>
      </tr>
    }
        }
       
            </tbody>
       
        }
        </table>

<h5 style="margin-top: 10px; text-align: right;">Total Bill: $@totalBill.ToString("0.00")</h5>
<div class="btn-container">
    <a class="btn" asp-page="/Index">
        <button>Back To Shop</button>
    </a>
    <a class="btn" asp-page="/Checkout">
        <button>Checkout</button>
    </a>
</div>

