@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2 style="text-align:center;">Products</h2>
<div class="product-list" style="display:flex; flex-wrap:wrap; gap:30px; margin-top:30px;">
    
        @foreach (var product in Model.Products)
        {
        <a asp-page="/ProductDetails" asp-route-id="@product.Id" style="text-decoration:none; color:black;">
            <div class="product-item" style="cursor:pointer;">
                <img src="@product.Image" alt="@product.Name" style="max-width:200px; height:150px" />
                <h4>@product.Name</h4>
                <p>$@product.Price</p>
                <p>@product.Description</p>               
            </div>
        </a>
        }            
</div>



        
   
