@page
@model ShopEasy.Pages.ProductDetailsModel
@{
    ViewData["Title"] = "Product Details";
}


    <h2 style="text-align:center;">@Model.Product.Name</h2>
    <div class="item" style="display:flex; flex-direction:row;justify-content:center; margin-top:50px;gap:40px">
        <img src="@Model.Product.Image" alt="@Model.Product.Name" style="max-width:300px;" />

        <div class="item-detail" style="display:flex; flex-direction:column;">
            <p>Price: $@Model.Product.Price</p>
            <p>Description: @Model.Product.Description</p>
            <p>Stock: @Model.Product.Stock</p>
            <p>Product Made By: @Model.Product.MadeBy</p>

            <form method="post" asp-page="/Cart">
                <input type="hidden" name="productId" value="@Model.Product.Id" />
                <p>Quantity: </p>
                <input type="number" name="quantity" value="1" min="1" />
                <button type="submit">Add To Cart</button>
            </form>
        </div>
    </div>


