@page
@model ShopEasy.Pages.ProductDetailsModel
@{
    ViewData["Title"] = "Product Details";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/ProductDetails.css" />
</head>
<h2>@Model.Product.Name</h2>
    <div class="item">
        <img src="@Model.Product.Image" alt="@Model.Product.Name"/>

        <div class="item-detail">
            <p>Price: $@Model.Product.Price</p>
            <p>Description: @Model.Product.Description</p>
            <p>Stock: @Model.Product.Stock</p>
            <p>Product Made By: @Model.Product.MadeBy</p>
        <div class="btn">
        <form method="get" asp-page="/Cart">
            <input type="hidden" name="Id" value="@Model.Product.Id" />
            <button type="submit">Add To Cart</button>
        </form>

        <a asp-page="/Index">
        <button>Back To Shop</button>    
        </a>
        </div>
        </div>
    </div>


